In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('Preprocessed Dataset/Crop_yield.csv')

In [3]:
df=df.drop(['State','Year','District','Unnamed: 0'],axis=1)
df=df[:10000]
df.head()

        Season                 Crop    Area  Production  Rainfall
0  Kharif                  Arecanut  1254.0      2000.0    2763.2
1  Kharif       Other Kharif pulses     2.0         1.0    2763.2
2  Kharif                      Rice   102.0       321.0    2763.2
3  Whole Year                Banana   176.0       641.0    2763.2
4  Whole Year             Cashewnut   720.0       165.0    2763.2

In [4]:
season=LabelEncoder()
crop=LabelEncoder()

In [5]:
df['Season']=season.fit_transform(df['Season'])
df['Crop']=crop.fit_transform(df['Crop'])

In [6]:
from sklearn.model_selection import train_test_split
X=df.drop(['Production'],axis=1)
X

      Season  Crop     Area  Rainfall
0          1     0   1254.0    2763.2
1          1    29      2.0    2763.2
2          1    35    102.0    2763.2
3          4     3    176.0    2763.2
4          4     7    720.0    2763.2
...      ...   ...      ...       ...
9995       2    21  24859.0    1069.9
9996       2    22   1214.0    1069.9
9997       2    28     77.0    1069.9
9998       2    30    364.0    1069.9
9999       2    34   4206.0    1069.9

[10000 rows x 4 columns]

In [7]:
Y=df['Production']
Y

0         2000.0
1            1.0
2          321.0
3          641.0
4          165.0
          ...
9995    180178.0
9996      1338.0
9997        78.0
9998       386.0
9999      5602.0
Name: Production, Length: 10000, dtype: float64

In [8]:
X.head()

   Season  Crop    Area  Rainfall
0       1     0  1254.0    2763.2
1       1    29     2.0    2763.2
2       1    35   102.0    2763.2
3       4     3   176.0    2763.2
4       4     7   720.0    2763.2

In [9]:
Y.head()

0    2000.0
1       1.0
2     321.0
3     641.0
4     165.0
Name: Production, dtype: float64

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=100)

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score,classification_report,mean_squared_error,r2_score
forest=RandomForestRegressor()

forest.fit(X_train,y_train)
y_train_pred=forest.predict(X_train)
y_test_pred=forest.predict(X_test)

In [12]:
print("MSE",mean_squared_error(y_train,y_train_pred),mean_squared_error(y_test,y_test_pred))
print((r2_score(y_train,y_train_pred),(r2_score(y_test_pred,y_test))))

MSE 7706959397.272828 132699102071.651
(0.9975617477418743, 0.9756656267217066)

In [13]:
print(forest.score(X_test,y_test))

0.9731152514045459

In [14]:
import pickle
file_name='Model/crop_yield.pkl'
pkl=open(file_name,'wb')
pickle.dump(forest,pkl)
pkl.close()